body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px 60px;
  color: #ffffff;

  background: url("r2.jpg") no-repeat center center fixed;
  background-size: cover; 
}

h1 {
  color: #f7f7f7;
}
#quote {
  background: rgba(255, 255, 255, 0.8); 
  color: #000;                          
  padding: 12px 16px;                   
  border-radius: 10px;                  
  font-size: 16px;
  line-height: 1.4;
  display: inline-block;                
  max-width: 90%;                       
  word-wrap: break-word;
  background: rgba(255, 255, 255, 0.918); 
  color: #000000;
  backdrop-filter: blur(6px);        

}


button {
  margin-top: 10px;
  padding: 15px 30px;
  background: #050000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #c00707e1;
}
